#heroHeading {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;

}

.h1Heading {
    color: black !important;
    font-size: 35px !important;
    font-weight: 900 !important;
    line-height: 1.1 !important;
}

  

.carousel-control-next .visually-hidden {
    color: black;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(88, 88, 88);
    opacity: 0.1;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: rgb(196, 196, 196);
    opacity: 1;

}

.carousel-control-prev {
    left: 0px;
}

.carousel-control-next {
    right: 0px;
}

.carousel-indicators {
    display: none;
}




.buttons {
  float: right;
  display: flex;
  justify-content: end;
  margin-left: 52vw;
  margin-right: 4.5vw;
  margin-top: 2vw;
  padding-bottom: 4vw;
}

.demo{
    text-transform: capitalize !important;
    font-size: 88px !important;
}


