@font-face {
    font-family: Colaborate;
    src: url("./../../../../public/fonts/Colaborate/ColabReg.otf");
}

@font-face {
    font-family: Colaborate Med;
    src: url("./../../../../public/fonts/Colaborate/ColabMed.otf");
}

@font-face {
    font-family: Colaborat Lig;
    src: url("./../../../../public/fonts/Colaborate/ColabLig.otf");
}

.fw-lig {
    font-family: Colaborat Lig !important;
}

.fw-Med {
    font-family: Colaborat Med !important;
}
.home{
    font-family: Colaborate;

   
}
.newBtn{
    background: transparent linear-gradient(90deg,#096ef2,#0092ff) 0 0 !important;
    color:white !important;
    border:none;
    font-size: 20px !important;
    /* background: red !important; */
}